<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/public/styles/bs4.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> -->
    <title>Hello, world!</title>
    <style>

      body {
        margin: 30px;
      }
      .my-container{
        border: 3px solid blue;
      }

      .my-row {
        border: 3px solid red;
        height: 300px;
      }

      .my-col {
        border: 3px dotted green;
      }
    </style>
  </head>
  <body>
    <div class="container my-container">
      <div class="row my-row">
        <div class="col-md-4 col-sm-6 col-xs-12 my-col">
          Row 1 Col 1
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 my-col">
          Row 1 Col 2
        </div>
      </div>
      <div class="row justify-content-between align-items-stretch my-row">
        <div class="col offset-md-2 my-col col-4">
          Row 2 Col 1
        </div>
        <div class="col my-col col-4 align-self-start">
          Row 2 Col 2
        </div>
      </div>
    </div>


          <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </body>
</html>